<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <a class="navbar-brand" href="#">Brand</a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Left</a></li>
        <li><a href="#about">Left</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#about">Right</a></li>
      <li><%= link_to "Log out", companies_log_out_path %></li>
    </ul>
  </div>
</nav>

<table style="width:100%">
  <tr>
    <td><%= link_to "Dashboard", companies_path %></td>
    <td><%= link_to "Contenedores", companies_containers_path %></td>
    <td><%=  %></td>
    <td><%=  %></td>
  </tr>
</table>

<h3>Tipos de desechos</h3>
<table border="1" style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Solicitar</th>
  </tr>
  <% @waste_types.each do |wt| %>
  <tr>
    <td><%= wt["name"] %></td>
    <td><%= wt["description"] %></td>
    <td><%= link_to "Continuar", companies_request_container_choose_establishment_path(:waste_type_id => wt["id"]) %></td>
  </tr>
  <% end %>
</table>
