<h1>Bienvenido!, <%= @establishment["name"] %></h1>

<table style="width:100%">
  <tr>
    <td><%= link_to "Contenedores", establishments_containers_path %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
  </tr>
</table>

<h3>Datos</h3>
<table border="1" style="width:100%">
  <tr>
    <th>Compañia</th>
    <th>Dirección</th>
    <th>Correo</th>
    <th>último inicio de sesión</th>
  </tr>
  <tr>
    <td><%= @establishment["name"] %></td>
    <td><%= @establishment["address"] %></td>
    <td><%= @establishment["email"] %></td>
    <td><%= @establishment["updated_at"] %></td>
  </tr>
</table>
